@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.product-content__options {
		text-align: center;
		&-size {
			justify-content: center;
		}
	}
	.product-content__footer-icons {
		margin: 10px 0 0;
	}
}

// ≥768px
@include media-breakpoint-down(sm) {
	.sub-header__left {
		display: flex;
		flex-direction: column;
		margin-left: 30px;
		&-phone {
			margin-left: 0;
		}
	}
	.product {
		padding: 20px 0;
	}
	.product-clothes {
		margin-bottom: 20px;
	}
	.product-content__subtitle {
		margin-bottom: 10px;
	}
	.product-content__desc {
		margin-bottom: 20px;
	}
}

// ≥576px
@include media-breakpoint-down(xs) {
	.sub-header {
		text-align: center;
	}
	.sub-header__left {
		margin-left: 10px;
	}
	.sub-header__right-socials {
		text-align: center;
	}

	#sidebar.active {
		left: 5px;
	}
	#sidebar .toggle-btn {
		left: 265px
	}
	.header {
		text-align: center;
		.container {
			width: 320px;
			margin: 0 auto;
		}
	
	}
	.header__icons {
		justify-content: center;
		&-amount {
			top: 20px;
			right: 85.5px;
		}
		a {
			padding-top: 30px;
			&:first-child {
				margin: 0;
			}
		}
	}
	.product-content__title {
		font-size: 30px;
	}

	#sidebar ul li {
		width: 100%;
		margin: 0 auto 0 -20px;
	}
}
